background-color = rgb(133, 88, 150)
background-colod-focus = rgb(183, 138, 200)
color = #eee

html, body
  position relative
  width 100%
  height 100%
  float left

body

  > .navbar
    margin 0
    padding 0
    border 0
    background-color background-color

    .navbar-toggle
      border-color color

    .navbar-toggle:hover,
    .navbar-toggle:focus
      background-color background-colod-focus

    .navbar-brand
      color color

    .navbar-nav > li > a
      color color

    .navbar-collapse
      border-color color

  > .container
    position relative
    padding 0px 10px 50px

    > .row
      margin 0 -10px

  article.main
    padding 0 10px

    .before,
    .after
      width 100%
      margin-bottom 10px

    .copy
      margin-top 10px

  .ad
    padding 25px 0px
    width 100%

  blockquote
    font-size 16px

  category-element
    a.link
      display block

.page-header
  margin 20px 0

h1
  font-size 30px!important

h2
  font-size 26px!important

h3
  font-size 22px!important
